# Answer13:
###  To use the basic functions of pandas, the first and foremost necessary library that needs tobe imported is pandas library. Pandas is an open source library in Python. It provides ready to use high-performance data structures and data analysis tools. Pandas module runs on top of NumPy and it is popularly used for data science and data analytics

# Answer12:
### def func():
      df.loc[0:30] or
      df.iloc[0:31] or
      df[0:31:1]

# Answer11:

In [7]:
import pandas as pd
Data={'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df=pd.DataFrame(Data)
print(df)
Weekday=['Sunday','Monday','Tuesday','Wednesday','Thursday']
df['Weekday']=Weekday
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

# Answer9:
### def func():
    return df['Values'].mean()
    return df['Values'].median()
    return df['Values'].std()

# Answer8:

In [16]:
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df1=pd.DataFrame(data)
df1[(df1['A']>5)&(df1['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Answer7:
### def username(text):
    data['Username']=data['Email'].str.split('@').str[0]

# Answer6:
### We can use the pandas module read_excel() function to read the excel file data into a DataFrame object. If you look at an excel sheet, it's a two-dimensional table. The DataFrame object also represents a two-dimensional tabular data structure.
### data=pd.read_excel("FinancialSample.xlsx")

# Answer5:
### data.shape gives the no of rows and columns in a data set

### data.size gives no of elemnets present in the data set

# Answer4:
### def newColumn(data):
    data['Word_Count']=data['Text'].str.len()

       data

# Answer3:
### def print3(data):
       l=list(data['Values'])
       j=0
       sum=0
       for i in l:
            if(j<3):
                sum=sum+i
                j=j+1
       print(sum)

# Answer2:
### def indexupdate(data):
    data=data.reset_index()
    data.index=pd.RangeIndex(start=1, stop=2*len(data)+1, step=2)
    del data['index']
    print(data)

# Answer1:

In [ ]:
import pandas as pd
data=pd.read_csv(r'cardata.csv')
data
data.head()
data.head(7)
data.tail()
data.tail(7)
data.describe()
data.dtypes
data.columns
data.iloc[1]
data.shape
data.size